.team-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px;
  margin-bottom: 50px;
}

.user-list {
  width: 100%;
  max-width: 600px;
}

.user-block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--tg-theme-secondary-bg-color);
  border: 1px solid var(--tg-theme-accent-text-color);
  border-radius: 5px;
}

.user-name {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--tg-theme-button-text-color);
}

.user-name:focus {
  outline: none;
}

.user-details {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--tg-theme-section-bg-color);
  border: 1px solid var(--tg-theme-header-bg-color);
  border-radius: 5px;
  color: var(--tg-theme-text-color);
}
