body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: 'Open Sans', sans-serif;
};

:root {
  --font-size: 16px;
}


* {
  margin: 0;
  padding: 0;
}
  
input {
  flex-grow: 1;
  padding: 8px;
  font-size: var(--font-size);
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 3px;
}

button {
  flex-grow: 1;
  padding: 8px 16px;
  font-size: var(--font-size);
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

select {
  padding: 8px 16px;
  font-size: var(--font-size);
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 3px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--tg-theme-bg-color);
}

li {
  list-style: none; /* Убирает стандартные маркеры списка */
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inline-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
};



.add-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.active {
  background-color: var(--tg-theme-button-text-color);
  color: var(--tg-theme-button-color);
}


form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
  

.tag {
  background-color: var(--tg-theme-link-color);
  color: var(--tg-theme-button-text-color);
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.tag button {
  padding: 4px 8px;
  margin: 0;
  background: none;
  border: none;
  color: var(--tg-theme-button-text-color);
  cursor: pointer;
  font-size: 14px;
}