.reg-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 5px;
}

.reg-wrap-container {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам перенестись на новую строку */
  gap: 5px;
}

.reg-sug-button {
  font-size: 10px;
  padding: 5px 10px;
  background-color: var(--tg-theme-hint-color);
  border: 1px solid var(--tg-theme-button-text-color);
  border-radius: 5px;
  border: none;
}

/* form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
  } */
  
/*   form-inline.input[type="email"],
  form-inline.input[type="name"],
  form-inline.input[type="password"],
  form-inline.input[type="text"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 4px;
  } */
  



/*   label input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  label input[type="text"] {
    flex-grow: 1;
  }
  
  form-inline.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  form-inline.button:hover {
    background-color: #0056b3;
  } */